<!DOCTYPE html>
<html>
<head>
  <title>예수인교회 주소록</title>



  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<body>
  <nav id="nav">
    <ul class="">
      <a href="/contacts/"><i id="font-awesome" class="fa fa-home" aria-hidden="true"></i></a>
      <a href="/contacts/search"><i id="font-awesome" class="fa fa-search" aria-hidden="true"></i></a>
      <a href="/contacts/new"><i id="font-awesome" class="fa fa-plus" aria-hidden="true"></i></a>
    </ul>
  </nav>

  <form id="flash_message">
  <% flash.each do |key,value| %>
    <p> <%= value %> </p>
  <% end %>
  </form>


<%= yield %>

</body>
</html>
