<!DOCTYPE html>
<html>
<head>
  <title>예수인교회 주소록</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/logo.ico' %>
  <%= favicon_link_tag '/touch-icon-iphone-retina.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'touch-icon-iphone-retina.png', :rel => 'apple-touch-icon', :type => 'image/png' %>

  <link rel="apple-touch-icon" href="/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-iphone-retina.png">

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="mobile-web-app-capable" content="yes"/>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav id="nav">
    <ul>
      <a href="/contacts/"><i id="font-awesome" class="fa fa-home" aria-hidden="true"></i></a>
      <a href="/contacts/search"><i id="font-awesome" class="fa fa-search" aria-hidden="true"></i></a>
      <% if user_signed_in? && current_user.rwx_admin? %>
        <a href="/contacts/new"><i id="font-awesome" class="fa fa-plus" aria-hidden="true"></i></a>
        <a href="/contacts/database"><i id="font-awesome" class="fa fa-database" aria-hidden="true"></i></a>
      <% end %>

    </ul>

    <% if user_signed_in? %>
    <ul style="margin-top:0;">
      <p style="text-align:right; font-size:.7em;"> Currently signed in as <b><%= current_user.email%></b>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
       <%= link_to('Sign Out',destroy_user_session_path, :id=> "user_session") %>
      </p>
      <% end %>
    </ul>
  </nav>

  <form id="flash_message">
    <% flash.each do |key,value| %>
      <p> <%= value %> </p>
    <% end %>
  </form>

<%= yield %>

</body>
</html>
